@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@model List<ModuloUsuarios.Models.Entities.Auto>


@foreach (var auto in Model)
{
    <ul>
        <li>@auto.Marca</li>
        <li>@auto.Color</li>
        <li>@auto.Precio</li>
    </ul>
}



